

    @{
        ViewBag.Title = "ColorQuestion";
    }

    
<div class="panel panel-default" style="background-color:darkgray">
    <div ng-controller="ColorQuestionController" class="panel-body">

        <h2>Färgfråga</h2><br>

        <h2 style="color:{{color}}">
            {{ test }}
        </h2>

        <br><br>

        <div class="colorBox" ng-click=" guess('#FFFFFF') " style="background-color:#FFFFFF"></div>
        <div class="colorBox" ng-click=" guess('#FFFF00') " style="background-color:#FFFF00"></div>
        <div class="colorBox" ng-click=" guess('#FF00FF') " style="background-color:#FF00FF"></div>
        <div class="colorBox" ng-click=" guess('#FF0000') " style="background-color:#FF0000"></div>
        <div class="colorBox" ng-click=" guess('#00FFFF') " style="background-color:#00FFFF"></div>
        <div class="colorBox" ng-click=" guess('#00FF00') " style="background-color:#00FF00"></div>
        <div class="colorBox" ng-click=" guess('#0000FF') " style="background-color:#0000FF"></div>
        <div class="colorBox" ng-click=" guess('#000000') " style="background-color:#000000"></div>
        <div style="clear:both"></div><br><br>

        <div class="continue">
            <div>
                <h3>{{answer}}</h3>
            </div>
            <br>
           
            <button type="button" class="btn btn-default" ng-show="answer" ng-click="completeLevel(points)">Fortsätt</button>
           
        </div>

    </div>
</div>

