	<div ng-controller="GameController" style="background:#dbdbdb">
		<div>
			<b>View:</b> {{subView}} |
			<b>Level:</b>{{game.level}} / {{game.maxLevel}} |
			<b>Mode:</b>{{game.gameMode}} |
			<b>Score:</b>{{game.score}} |
			<b>Running:</b>{{game.isRunning}}
		</div>
		<div style="background:#b38686" ng-include="subView">
		</div>
	</div>

