@{ViewBag.Title = "Spela";}


<div class="container" ng-controller="GameController">


		<div class="row">
			<div class="col-md-6"><h2>Spela</h2></div>
			<div ng-show="game.isRunning" class="col-md-6 text-right"><h2><span class="label label-default">{{game.gameMode.name}}</span> <span class="label label-success">{{game.score}} poäng</span></h2></div>
		</div>
	
		<div ng-include="subView">
		</div>


	<div ng-show="game.isRunning">
		<div class="progress">
			<div class="progress-bar progress-bar-success" role="progressbar" style="width: {{(game.level + 0.1) / (game.maxLevel + 0.1) * 100}}%;">
				Fråga <b>{{game.level}}</b> av <b>{{game.maxLevel}}</b>
			</div>
		</div>
	</div>

	<b>View:</b> {{subView}} |
	<b>Level:</b>{{game.level}} / {{game.maxLevel}} |
	<b>Mode:</b>{{game.gameMode}} |
	<b>Score:</b>{{game.score}} |
	<b>Running:</b>{{game.isRunning}}

</div>