<div class="container" ng-controller="GameController">
	<h2>Spela</h2>
	<div>
		<h4>Fråga {{game.level}}/{{game.maxLevel}} i kategori {{game.gameMode.name}} ({{game.score}} poäng)</h4>
	</div>
	<div>

		<div ng-include="subView">
		</div>

	</div>
	<b>View:</b> {{subView}} |
	<b>Level:</b>{{game.level}} / {{game.maxLevel}} |
	<b>Mode:</b>{{game.gameMode}} |
	<b>Score:</b>{{game.score}} |
	<b>Running:</b>{{game.isRunning}}

</div>