@{
	Layout = null;
}
<div ng-controller="HighscoresController">
	<h2>Highscores</h2>

	<button ng-click="showHighscoresForCategory(0)">Random</button>
	<button ng-repeat="item in game.gameModes" ng-click="showHighscoresForCategory(item.categoryId)">{{item.name}}</button>


	<button ng-click="selectGame()">Play a game</button>

	<div ng-repeat="highscore in highscores">
		{{highscore.Position}} {{highscore.Name}} {{highscore.Score}} {{highscore.Date}}
	</div>
</div>
