@{
	Layout = null;
}
<div ng-controller="HighscoresController">
	<h2>Rekord</h2>


	<ul class="nav nav-tabs">
		<li role="presentation" ng-class="(0 == highscoreCategory) ? 'active' : ''"><a href="#" ng-click="showHighscoresForCategory(0)">Slumpat</a></li>
		<li role="presentation" ng-repeat="item in game.gameModes" ng-class="(item.categoryId == highscoreCategory) ? 'active' : ''"><a href="#" ng-click="showHighscoresForCategory(item.categoryId)">{{item.name}}</a></li>
	</ul>

	<table class="table table-striped">
		<tr>
			<td><b>#</b></td>
			<td><b>Namn</b></td>
			<td><b>Poäng</b></td>
			<td><b>Datum</b></td>
		</tr>
		<tr ng-repeat="highscore in highscores">
			<td>{{highscore.Position}}</td>
			<td>{{highscore.Name}}</td>
			<td>{{highscore.Score}}</td>
			<td>{{highscore.Date}}</td>
		</tr>
	</table>
	<button type="button" ng-click="selectGame()" class="btn btn-primary">Tillbaka</button>
		

</div>
