@{
	Layout = null;
}
<div ng-controller="Kategori3Controller">
	<h2>Kategori 3</h2>

	<button ng-click="completeLevel(1)">Give 1 point</button>
	<button ng-click="completeLevel(0)">Give 0 point</button>

</div>
