@{
	Layout = null;
}
<div ng-controller="Kategori2Controller">
	<h2>Kategori 2</h2>

	<button ng-click="completeLevel(1)">Give 1 point</button>
	<button ng-click="completeLevel(0)">Give 0 point</button>

</div>
