@{
	Layout = null;
}
<div ng-controller="NewHighscoreController">
	<h3>Nytt rekord!</h3>
	<p>
	Du fick <b>{{game.score}}</b> poäng, detta är ett nytt rekord!<br />
	Vänligen fyll i ditt namn nedan för att spara rekordet.
	</p>
	<input class="form-control" type="text" placeholder="Name" ng-model="name" /><br />
	<button class="btn btn-success" ng-click="submitHighscore()">Spara rekordet</button>
	<button class="btn btn-primary" ng-click="selectGame()">Spela igen</button>

</div>
