@{
	Layout = null;
}
<div ng-controller="NewHighscoreController">
	<h2>End Of Game</h2>
	You got a new highscore! Please fill in your name:<br />
	<input type="text" placeholder="Name"  ng-model="name" /><br />
	<button ng-click="submitHighscore()">Submit highscore</button><br /><br />

	<button ng-click="selectGame()">Play again</button>

</div>
