@{
	Layout = null;
}
<div ng-controller="NewHighscoreController">
	<h2>Nytt rekord!</h2>
	<p>
		Du slog ett nytt rekord, skriv in ditt namn för att spara rekordet.
	</p>
	<input class="form-control" type="text" placeholder="Name" ng-model="name" /><br />
	<button class="btn btn-success" ng-click="submitHighscore()">Spara rekordet</button>
	<button class="btn btn-primary" ng-click="selectGame()">Spela igen</button>

</div>
