
@{
    ViewBag.Title = "PunctationQuestion";
}

<h2>Öva på skiljetecken</h2>

<div ng-controller="PunctationQuestionController">

    <h3>Ersätt varje asterisk * med rätt skiljetecken nedan</h3>
    <p class="pQA">{{ question }}</p>
    <input class="pQA" ng-change="checkAnswer()" ng-model="userInput" type="text" />
    <input ng-click="" type="button" value="Kontrollera svar" />
    <p class="pQA">{{ userInput }}</p>

    <br />
    <br />
    <div ng-show="isCorrectAnswer" class="correctAnswer">
        Du fick X rätt!
        <input ng-click="completeLevel(7)" type="button" value="Fortsätt" />
    </div>

</div>