
@{
    ViewBag.Title = "PunctationQuestion";
}

<h2>PunctationQuestion</h2>

<div ng-controller="PunctationQuestionController">

    <h3>Ersätt varje asterisk * med rätt skiljetecken</h3>
    <span class="punctuationQuestion"> {{ }} </span>

    <div>
        <p> Question:{{ question }}</p>
       <!-- <p> Answer: {{ answer }}</p> --> 
    </div>
    <div>{{ userInput}}</div>

    <input ng-change="checkAnswer()" ng-model="userInput" type="text" />

    <div ng-show="isCorrectAnswer">
        <br />
        Svaret är rätt! <input ng-click="" type="button" value="Nästa fråga" />
    </div>
</div>