@{
   // Layout = null;
}

@{
    ViewBag.Title = "PunctationQuestion";
}

<h2>Öva på skiljetecken</h2>

<div ng-app="app" ng-controller="PunctationQuestionController" ng-init="RandomizePunctuationQuestion()">

    <h3>Ersätt varje asterisk * med rätt skiljetecken nedan</h3>
    <p>{{question()}}</p>
    <input ng-model="userInput" type="text" />
    <input ng-click="checkAnswer()" type="button" value="Kontrollera svar" />
    <!-- <p class="pQA">{{ userInput }}</p> -->
    <br>
    <br>
    <div ng-show="answerMade" class="correctAnswer">
        {{textanswer}}
        <input ng-click="completeLevel(points)" type="button" value="Fortsätt" />
    </div>
</div>