
@{
    ViewBag.Title = "PunctationQuestion";
}

<h2>PunctationQuestion</h2>

<div ng-controller="PunctationQuestionController">

    <h3>Ersätt varje asterisk * med rätt skiljetecken</h3>
    <span class="punctuationQuestion"> {{ }} </span>

    <div>
        Testing: <br />
        {{ answer }} <br />
        {{qg()}}
    </div>

    <input type="text" />
</div>