@{
	Layout = null;
}
<div ng-controller="SelectGameConstroller">
	<h2>Välj kategori:</h2>

	<button ng-click="startGame('Random', 15)">Random</button>
	<button ng-repeat="item in game.gameModes" ng-click="startGame(item.name,5)">{{item.name}}</button>
	<button ng-click="showHighscores()">Highscores</button>

</div>
